section {
  margin-top: 90px;
  margin-bottom: 90px;
}
/* ************* */
.nav-wrapper .brand-logo {
  margin-left: 5px;
  color: black;
}

.nav-wrapper ul {
  position: relative;
  left: 80px;
}

.nav-wrapper ul li a {
  color: black;
}

.nav-wrapper .login {
  position: relative;
  left: 700px;
}

form #search-nav {
  position: relative;
  background-color: rgb(219, 210, 210);
  left: 200px;
  border-radius: 10em;
}

.nav-wrapper {
  display: flex;
  background-color: white;
}
.waves-effect {
  position: relative;
  top: 15px;
  left: 90px;
}

.login-btn {
  position: relative;
  left: 200px;
}

.nav-wrapper .btn {
  position: relative;
  left: 350px;
  border-radius: 50em;
}

/* ***************************************************** */

/* main */
.landing {
  /* padding: 100px; */
  background-color: rgb(20 21 24);
  /* width: 100%; */
}

.landing .landing-content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.landing .container .landing-content .landing-img {
  width: 400px;
  order: 2;
}

main .landing .landing-intro {
  width: 400px;
  /* flex-grow: 1; */
  min-height: 500px;
}

main .landing .landing-intro h2 {
  color: red;
}

main .landing .landing-intro p {
  color: white;
}

main .landing .landing-intro a {
  border-radius: 50em;
  left: 0em;
}

/* search sec */

.search-sec {
  min-height: 200px;
}

.search-sec .search-content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: normal;
}

.search-sec .search-content .search-bar-container {
  display: flex;
  background-color: rgb(214 209 209 / 80%);
  border-radius: 50em;
  padding: 10px;
}

.search-sec .search-content .search-bar-container i {
  order: 1;
  width: 10px;
  position: relative;
  top: 18px;
  left: 15px;
}

.search-sec .search-content .search-bar-container input {
  order: 2;
  width: 500px;
  margin: 8px;
}

.search-sec .search-content .btn {
  order: 1;
  width: 90px;
  border-radius: 50em;
}

/* Introduction section  */
.introduction-sec .part1 {
  position: relative;
  text-align: center;
}

.introduction-sec .part2 {
}

.introduction-sec .part2 article {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
}

.introduction-sec .part2 .article-text {
  width: calc(96% / 2);
}

.introduction-sec .part2 .article-card {
  width: calc(96% / 2);
}

.introduction-sec .part2 .article-text-right {
  width: calc(96% / 2);
  order: 2;
}

.introduction-sec .part2 .article-card .col {
  width: 100%;
}

@media (max-width: 1024px) {
}
@media (max-width: 600px) {
}
/*  */
/* Domains section */

.domains-sec .domains-intro {
  text-align: center;
}

.domains-sec .domains-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.domains-sec .domains-list .domains-list-img {
  width: 40%;
}
.domains-sec .domains-list .domains-list-img img {
  width: 100%;
}

.domains-sec .domains-list .domains-list-ul {
  width: 40%;
}

.domains-sec .domains-list .domains-list-ul ul {
  width: 100%;
}

/* ************************************ */

/* Pricing */

.pricing-sec {
  text-align: center;
}
.pricing-sec img {
  width: 600px;
}

/* ********* */

/* Usecases Section */
.usecase-sec h2 {
  text-align: center;
}

.usecase-sec .usecase-holder {
  display: flex;
  text-align: center;
  align-content: space-around;
}

.usecase-sec .usecase-holder .usecase {
  width: 800px;
}
