section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-family: Rubik, sans-serif;
  font-size: 40px;
}
/* ************* */
.nav-wrapper .brand-logo {
  margin-left: 5px;
  color: black;
  top: 7px;
  left: 10px;
}

.nav-wrapper ul {
  position: relative;
  left: 80px;
}

.nav-wrapper ul li a {
  color: black;
}

.nav-wrapper .login {
  position: relative;
  left: 700px;
}

form #search-nav {
  position: relative;
  background-color: rgb(219, 210, 210);
  left: 200px;
  border-radius: 10em;
}

.nav-wrapper {
  display: flex;
  background-color: white;
}
.waves-effect {
  position: relative;
  top: 15px;
  left: 90px;
}

.login-btn {
  position: relative;
  left: 200px;
}

.nav-wrapper .btn {
  position: relative;
  left: 350px;
  border-radius: 50em;
}

/* #searching-nav {
  background-color: gray;
  border-radius: 50em;
} */

/* ***************************************************** */

/* main */
.landing {
  /* padding: 100px; */
  background-color: rgb(20 21 24);
  /* width: 100%; */
}

.landing .container {
  width: 80%;
}

.landing .landing-content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  /* align-content: space-around; */
  min-height: 35rem;
}

.landing .landing-content .landing-img {
  position: relative;
  width: calc(90% / 2);
  order: 2;
  margin: auto;
}

.landing .container .landing-content .landing-img img {
  width: 33.8rem;
  height: 17.8rem;
  align-self: center;
}

.landing .container .landing-content .landing-img a {
  position: absolute;
  top: 116px;
  left: 230px;
}

.landing .landing-content .landing-intro {
  width: calc(90% / 2);
  margin: auto;
}

main .landing .landing-intro h1 {
  color: rgb(255, 66, 77);
  font-weight: 700;
  width: 32rem;
}

main .landing .landing-intro p {
  color: white;
  font-size: 20px;
}

main .landing .landing-intro a {
  border-radius: 50em;
  left: 0em;
}

@media (max-width: 750px) {
  .landing .landing-content {
    min-height: 55rem;
  }

  .landing .landing-content .landing-img {
    width: 90%;
  }

  .landing .landing-content .landing-intro {
    width: 90%;
    margin-bottom: 100px;
  }

  .landing .container .landing-content .landing-img img {
    width: 99%;
  }
}

/* search sec */

.search-sec {
  min-height: 200px;
}

/* .search-sec h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-family: Rubik, sans-serif;
  font-size: 40px;
} */

.search-sec .search-content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: normal;
}

.search-sec .search-content .search-bar-container {
  display: flex;
  background-color: rgb(214 209 209 / 80%);
  border-radius: 50em;
  width: 75%;
}

.search-sec .search-content .search-bar-container i {
  order: 1;
  position: relative;
  top: 20px;
  left: 15px;
}

.search-sec .search-content .search-bar-container input {
  order: 2;
  width: 90%;
  position: relative;
  left: 35px;
}

.search-sec .search-content .btn {
  order: 1;
  width: 90px;
  border-radius: 50em;
  position: relative;
  top: 10px;
  left: 10px;
}

@media (max-width: 750px) {
  .search-sec .search-content {
    flex-flow: column;
  }

  .search-sec .search-content .search-bar-container {
    width: 100%;
  }

  .search-sec .search-content .search-bar-container input {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .search-sec .search-content .btn {
    width: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Introduction section  */
.introduction-sec .part1 {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
}

/* .introduction-sec .part1 h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-family: Rubik, sans-serif;
  font-size: 40px;
} */

.introduction-sec .part1 p {
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  font-weight: 400;
  padding: 10px;
}

.introduction-sec .part2 {
}

.introduction-sec .part2 article {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 40px;
}

.introduction-sec .part2 .article-text {
  width: calc(96% / 2);
}

.introduction-sec .part2 .article-text h4 {
  color: rgb(255, 66, 77);
  font-weight: 700;
}

.introduction-sec .part2 .article-text p {
  font-weight: 400;
}

.introduction-sec .part2 .article-card {
  width: calc(96% / 2);
}
/* .introduction-sec .part2 .article-card .card-action a {
  color: black;
} */

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #000000;
  text-transform: none;
}
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: none;
}

.card .card-content {
  padding: 5px;
}

.card .card-action {
  padding: 16px 5px;
}

.card .card-content p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

#second-art-text {
  width: calc(96% / 2);
  order: 2;
}

.introduction-sec .part2 .article-card .col {
  width: 100%;
}

@media (max-width: 750px) {
  .introduction-sec .part2 article {
    /* flex-flow: column; */
    width: 100%;
    justify-content: center;
  }
  .introduction-sec .part2 .article-text {
    width: 100%;
  }

  #second-art-text {
    width: 100%;
  }

  #second-art-card {
    width: 100%;
    order: 2;
  }

  .introduction-sec .part2 .article-card {
    width: 100%;
  }
}
/*  */
/* Domains section */

.domains-sec .domains-intro {
  text-align: center;
  margin-bottom: 5rem;
}

.domains-sec .domains-intro p {
  color: rgb(36, 30, 18);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 1.125rem;
  line-height: 2;
  text-align: center;
  font-weight: 400 !important;
  width: 80%;
}

.domains-sec .domains-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
}
.domains-sec .domains-list .domains-list-img {
  width: calc(95% / 2);
  margin-top: 40px;
}
.domains-sec .domains-list .domains-list-img img {
  width: 100%;
}

.domains-sec .domains-list .domains-list-ul {
  width: calc(75% / 2);
  text-align: center;
}

.domains-sec .domains-list .domains-list-ul ul {
  width: 100%;
}

.domains-sec .domains-list .domains-list-ul ul {
  padding: 0.5rem 0rem;
  margin: 0rem;
  color: rgb(177, 172, 163);
  transition-duration: 1s;
  width: fit-content;
  font-weight: 700;
}

.domains-sec .domains-list .domains-list-ul ul li {
  padding: 0.5rem 0rem;
  margin: 0rem;
  color: rgb(177, 172, 163);
  transition-duration: 1s;
  width: 100%;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.domains-sec .domains-list .domains-list-ul ul li:hover {
  padding: 0.5rem 0rem;
  margin: 0rem;
  color: black;
  border-bottom: 2px solid black;
}

@media (max-width: 750px) {
  .domains-sec .domains-list {
    flex-flow: column-reverse;
  }

  .domains-sec .domains-list .domains-list-img {
    width: 100%;
  }

  .domains-sec .domains-list .domains-list-ul {
    width: 100%;
    order: 1;
  }
}

/* ************************************ */

/* Pricing */

.pricing-sec {
  text-align: center;
}

.pricing-sec p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.pricing-sec img {
  width: 99%;
  margin-top: 40px;
  box-shadow: 0 10px 20px 0px grey;
}

/* ********* */

/* Usecases Section */

.usecase-sec h2 {
  text-align: center;
  margin-bottom: 70px;
}

.usecase-sec .usecase-holder {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-flow: wrap;
}

.usecase-sec .usecase-holder .usecase {
  width: calc(100% / 3);
}

.usecase-sec .usecase-holder .usecase .col {
  width: 100%;
}

@media (max-width: 750px) {
  .usecase-sec .usecase-holder .usecase {
    width: 100%;
  }
}

/*  */

/* Footer section */
.page-footer {
  background-color: rgb(20 21 24);
}
